@import "normalize.css";


* {
	box-sizing: border-box; /* Because this is more sane :) */
	color: #4a4a4a;
}

main {
	text-align: center;
}

ul {
	padding: 0px;
}

li {
	display: inline-block; /* Gets rid of the dot before the item*/
}

a {
	color: inherit;
	font-size: 32px;
	text-decoration: none;
}
